<div class="shopsContainer">
    <mat-expansion-panel class="shopExpander" *ngFor="let shop of shops">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ shop.name }}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row shopItemsContainer">
            <ng-container *ngFor="let upgrade of shop.upgrades">
                <button mat-stroked-button class="itemButton" *ngIf="ShowUpgrade(upgrade)" (click)="BuyUpgrade(upgrade)">
                    <h3>{{ upgrade.name }}</h3>
                    <span class="levelRequirement" *ngIf="upgrade.levelRequired">Level Required: {{upgrade.levelRequired}}</span><br>
                    <img type="image/svg+xml" class="itemIcon" src='../../../assets/icons/{{upgrade.icon}}.svg'/>
                    <app-cost [cost]="upgrade.cost"></app-cost>
                </button>
            </ng-container>
            <ng-container *ngFor="let item of shop.items">
                <button mat-stroked-button class="itemButton" (click)="BuyItem(item)">
                    <h3>{{ item.name }}</h3>
                    <img type="image/svg+xml" class="itemIcon" src='../../../assets/icons/{{item.icon}}.svg'/>
                    <app-cost [cost]="item.cost"></app-cost>
                </button>
            </ng-container>

        </div>
    </mat-expansion-panel>
</div>
