.shopsContainer {
    
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding-top: 2rem;
}

.mat-expansion-panel {
    width: 100%
}

.itemButton {
    width: 100%;
    height: 100%;
}

.itemIcon {
    height: 40%;
    width: 40%;
    vertical-align: middle;
}