.actionsContainer {
    padding-top: 1rem;
    width: 100%;
    height: 100%;
}

.actionButtonContainer {
    height: 30%;
    width: 20%;
}

.mat-button-base {
    height: 100%;
    width: 100%
}

.progress {
    width: 100%;
    background-color: #babbbb;
}

.progress-bar {
    background-color: #00a08a;
}

.skillIcon {
    width: 45%;
    height: 45%;
}

.skillPage {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding-top: 2rem;
}