<app-skill-title [name]="pageTitle" (toggleNav)="toggleNav.emit()"></app-skill-title>

<!-- <div class="skillPage">
    <app-skill-info [skill]="skill"></app-skill-info>

    <div class="actionsContainer" fxLayout="row" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
        <div class="actionButtonContainer" *ngFor="let action of skill.actions">
            <button fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutAlign="center center" (click)="ToggleWoodcutting(action)" mat-raised-button>
                <mat-icon class="skillIcon" svgIcon="{{ action.icon }}"></mat-icon>
                
                <div class="progress">
                    <div class="progress-bar" id="action{{action.id}}" #actionProgress role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </button>
        </div>
    </div>
</div> -->
<div class="skillPage">
    <app-skill-info [skill]="skill"></app-skill-info>
    <mat-grid-list cols="4" gutterSize="1rem" class="actionsContainer">
        <mat-grid-tile class="actionButtonContainer" *ngFor="let action of skill.actions">
            <button fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutAlign="center center" (click)="ToggleWoodcutting(action)" mat-raised-button>
                <mat-icon class="skillIcon" svgIcon="{{ action.icon }}"></mat-icon>
                
                <div class="progress">
                    <div class="progress-bar" id="action{{action.id}}" #actionProgress role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </button>
        </mat-grid-tile>
    </mat-grid-list>
</div>