<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav #drawer class="sidenav" [(opened)]="opened"
    [attr.color]="navColor"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'">
    <h1 class="logo">Artifice Idle</h1>
    <mat-divider></mat-divider>
    <ng-scrollbar>
    <mat-nav-list>
        <a mat-list-item  (click)="SetCurrentPage('Shop')">
          <mat-icon class="navIcon">store</mat-icon> Shop
        </a>
        <a mat-list-item  (click)="SetCurrentPage('Bank')">
          <mat-icon class="navIcon">attach_money</mat-icon> Bank <span class="currencyDisplay">{{GetCurrencyDisplay()}} s</span>
        </a>
      
    <mat-expansion-panel class="navExpansionPanel" [class.mat-elevation-z0]="true" [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Skills
            </mat-panel-title>
        </mat-expansion-panel-header>
        <a mat-list-item class="skill" (click)="SetCurrentPage('Woodcutting')">
          <img class="navIcon" src="../assets/tree.svg"/> Woodcutting
            <span class="levelDisplay">{{ skillLevels[skillEnums.Woodcutting] + 1 }}</span>
        </a>
        <a mat-list-item class="skill" (click)="SetCurrentPage('Mining')">
        <img class="navIcon" src="../assets/rock.svg"/> Mining
        <span class="levelDisplay">{{ skillLevels[skillEnums.Mining] + 1 }}</span>
        </a>
        <a mat-list-item class="skill" (click)="SetCurrentPage('Invocation')">
          <img class="navIcon" src="../assets/vial.svg"/> Invocation
        <span class="levelDisplay">{{ skillLevels[skillEnums.Invocation] + 1 }}</span>
        </a>
        <a mat-list-item class="skill" (click)="SetCurrentPage('Fishing')">
          <img class="navIcon" src="../assets/fishing.svg"/> Fishing
        <span class="levelDisplay">{{ skillLevels[skillEnums.Fishing] + 1 }}</span>
        </a>
        <a mat-list-item class="skill" (click)="SetCurrentPage('Foraging')">
          <img class="navIcon" src="../assets/grass.svg"/> Foraging
        <span class="levelDisplay">{{ skillLevels[skillEnums.Foraging] + 1 }}</span>
        </a>
    </mat-expansion-panel>
    </mat-nav-list>

    <ng-container *ngIf="isDevMode">
      <mat-expansion-panel class="navExpansionPanel" [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Dev Tools
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field class="devInput" appearance="outline">
          <mat-label>Item Id</mat-label>
          <input [(ngModel)]="idToAdd" matInput placeholder="Placeholder"/>
        </mat-form-field>
        <mat-form-field class="devInput" appearance="outline">
          <mat-label>Quantity</mat-label>
          <input [(ngModel)]="quantityToAdd" matInput placeholder="Placeholder"/>
        </mat-form-field>
        <button mat-raised-button (click)="AddItem()">Add Item</button>
        <mat-form-field class="devInput" appearance="outline">
          <mat-label>Amount</mat-label>
          <input [(ngModel)]="currencyToAdd" matInput placeholder="Placeholder"/>
        </mat-form-field>
        <button mat-raised-button (click)="AddCurrency()">Add Money</button>
      </mat-expansion-panel>
    </ng-container>
  </ng-scrollbar>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-skill-title [name]="currentPage"></app-skill-title>
    
    <ng-scrollbar>
      <app-shop [style.display]="GetPageDisplay('Shop')"></app-shop>
      <app-bank [style.display]="GetPageDisplay('Bank')"></app-bank>
      <app-woodcutting [style.display]="GetPageDisplay('Woodcutting')"></app-woodcutting>
      <app-mining [style.display]="GetPageDisplay('Mining')"></app-mining>
      <app-invocation [style.display]="GetPageDisplay('Invocation')"></app-invocation>
      <app-fishing [style.display]="GetPageDisplay('Fishing')"></app-fishing>
      <app-foraging [style.display]="GetPageDisplay('Foraging')"></app-foraging>
  </ng-scrollbar>
  </mat-sidenav-content>
</mat-sidenav-container>

