.snackBarContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin: 0 auto;
}

.addItemContainer {
    background: transparent;
    border: none;
    box-shadow: none;
    margin: .5em auto;
}

img {
    width: 32px;
    height: 32px;
}