<div class="skillInfoContainer col-12" *ngIf="loaded">
    <div class="row infoRow">
        <div class="col-4 lvlCol">
            <span>Level: {{ currentLevel + 1 }}</span>
        </div>
        <div class="col-4 upgradeCol">
            <span *ngIf="GetUpgradeDisplay()">{{ GetUpgradeDisplay() }}</span>
        </div>
        <div class="col-4 xpCol">
            <span>XP: {{ currentXP }} / {{ nextLevelXP }}</span>
        </div>
    </div>
    <div class="row progressRow">
        <div class="progress">
            <div class="progress-bar" [style.width]="GetCurrentLevelUpProgress()" role="progressbar"></div>
        </div>
    </div>
</div>