
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snackBarInfo{
    max-width: 4rem !important;
    min-width: 4rem !important;
    min-height: 4rem !important;
    max-height: 4rem !important;
    background-color: #babbbb;
    font-size: .75rem;
    justify-content: center;
}

.background-red {
    background-color: #c56464;
    color: #fff;
}
/* Importing Bootstrap SCSS file. */
//@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/progress';
@import 'tippy.js/dist/tippy.css';
@import 'tippy.js/themes/material.css';
