<div class="skillPage">
    <app-skill-info [skill]="skill"></app-skill-info>
    <mat-form-field class="baitSelector" appearance="fill" *ngIf="isFishing()">
        <mat-label>Select a bait</mat-label>
        <mat-select [(ngModel)]="selectedBait" (selectionChange)="setBait($event)">
            <mat-option [value]="undefined">--</mat-option>
            <mat-option *ngFor="let bait of GetBait()" [value]="bait">{{bait.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-grid-list #grid cols="4" gutterSize="50px" class="actionsContainer">
        <mat-grid-tile class="actionButtonContainer" *ngFor="let action of skill.actions | orderBy: 'levelRequirement'">
            <button class="button" (click)="ToggleGathering(action)" mat-raised-button>
                <div>
                    <h2 style="margin: 0">{{ action.name }}</h2>
                    <span class="actionDescription">Level: {{action.levelRequirement}}<br>{{action.baseExperience}}xp / {{GetActionInterval(action)}}s</span>
                </div>
                <img type="image/svg+xml" class="skillIcon" src='../../../assets/{{action.icon}}.svg'/>
                
                <div class="progress">
                    <div class="progress-bar" id="action{{action.id}}" #actionProgress role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </button>
        </mat-grid-tile>
    </mat-grid-list>
</div>