.actionsContainer {
    padding-top: 1em;
    margin-bottom: 3rem;
    width: 100%;
    height: 100%;
}

.mat-button-base {
    height: 100%;
    width: 100%
}

.progress {
    width: 100%;
    background-color: #babbbb;
    margin-top: 1em;
}

.progress-bar {
    background-color: #00a08a;
}

.skillIcon {
    width: 75%;
}

.skillPage {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding-top: 2rem;
}

.redBorder {
    border: 2px solid rgb(139, 26, 26);
}

.actionDescription {
    font-size: small;
    font-style: italic;
    text-align: end;
}

.actionName {
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.actionInfo {
    margin-top: 0.75em;
}

.levelDisplay {
    justify-content: center;
}

.baitSelector {
    margin-top: 2em
}

.redText {
    color: rgb(204, 80, 80);
}