.actionsContainer {
    padding-top: 1em;
    margin-bottom: 3rem;
    width: 100%;
    height: 100%;
}

.mat-button-base {
    height: 100%;
    width: 100%
}

.progress {
    width: 100%;
    background-color: #babbbb;
}

.progress-bar {
    background-color: #00a08a;
}

.skillIcon {
    width: 45%;
    height: 45%;
}

.skillPage {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding-top: 2rem;
}

.actionDescription {
    font-size: smaller;
}

.baitSelector {
    margin-top: 2em
}