<div class="bankItem" attr.bankTippy="{{bankItem.itemId}}">
    <mat-card [matMenuTriggerFor]="itemMenu" #matTrigger="matMenuTrigger" class="bankCard" (menuOpened)="menuOpened()">
        <mat-card-content>
            <img type="image/svg+xml" src='../../../../assets/icons/{{GetItemIcon(bankItem.itemId)}}.svg' />
            <br />
            <span class="quantityDisplay">{{ GetDisplayQuantity(bankItem.quantity) }}</span>
        </mat-card-content>
        <mat-menu #itemMenu="matMenu">
            <button mat-menu-item (click)="SellItem(1)">
                <span>Sell 1</span>
            </button>
        </mat-menu>
    </mat-card>
</div>